<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Grapler</title>
    <style>
        html {
            font-family: Helvetica, sans-serif;
            margin: 1em 25px;
        }
        form {
            width: 500px;
            padding: 1em;
            border: 1px solid #CCC;
            font-size: 0.9em;
        }
        form div + div {
            margin-top: 1.5em;
        }
        label {
            display: inline-block;
            width: 120px;
            text-align: right;
        }
        input, textarea {
            /* To make sure that all text fields have the same font settings
            By default, textareas have a monospace font */
            font: 1em sans-serif;
            /* To give the same size to all text field */
            width: 300px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            /* To harmonize the look & feel of text field border */
            border: 1px solid #999;
        }
        input:focus, textarea:focus {
            /* To give a little highlight on active elements */
            border-color: #000;
        }
        textarea {
            /* To properly align multiline text fields with their labels */
            vertical-align: top;
            /* To give enough room to type some text */
            height: 5em;
            /* To allow users to resize any textarea vertically
            It does not work on every browsers */
            resize: vertical;
        }
        .button {
            /* To position the buttons to the same position of the text fields */
            padding-left: 90px; /* same size as the label elements */
        }
    </style>
</head>
<body>
<h2>Grapler</h2>
<form action="/build" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label for="mail">Package name:</label>
        <input type="text" id="packageName" />
    </div>
    <div>
        <label></label>
        <button type="submit">Build</button>
    </div>
</form>
</body>
</html>